{% extends 'base.html' %}
{% block title %} Autbot {% endblock %}

{% block content %}

<div class="card">
	<div class="card-body">

		<main class="main-chat">
			<div class="msg left-msg">
				<div class="chatbot-icon" style="
					background-image:
					url(https://image.flaticon.com/icons/svg/327/327779.svg);
					"></div>

				<div class="msg-bubble">
					<div class="msg-info">
						<div class="msg-info-name">Autbot</div>
						<div id="chatbotTime" class="msg-info-time"></div>
					</div>

					<div class="msg-text">
						Hello, I am Autbot. What would you like to talk about today? 😄
					</div>
				</div>
			</div>
		</main>

	</div>

	<div class="card-footer">
		<form class="chatbot-input" method="post">
			<div class="row align-items-center">
				<div class="col-8">
					<input type="text" id="userTextInput" class="form-control user-text-input"
						name="user_text_input" placeholder="Enter your message..."
						/>
				</div>
				<div class="btn-group col-4" role="group" aria-label="Submit buttons">
					<button type="submit" id="recordButton" name="user_input" value="start"
						class="btn btn-outline-dark">
						Record Message
					</button>
					<button type="submit" id="stopButton" name="user_input" value="stop"
						class="msger-send-btn btn btn-outline-dark">
						Stop Recording
					</button>
				</div>
			</div>
		</form>
	</div>

</div>

{% endblock %}

{% block scripts %}
<script>
	var today = new Date();
	var time = today.getHours() + ":" + today.getMinutes();
	document.getElementById("chatbotTime").innerHTML = time

	// document.querySelector('#recordButton').addEventListener('click', function(){ 
	// 	console.log('Starting Recording');
	// 	document.getElementById("recordButton").disabled = true;
	// 	document.getElementById("stopButton").disabled = false;
	// });

	// document.querySelector('#stopButton').addEventListener('click', function(){ 
	// 	console.log('Stopping Recording');
	// 	document.getElementById("stopButton").disabled = true;
	// 	document.getElementById("recordButton").disabled = false;
	// });

</script>
{% endblock %}
